<!--partials/header-->
<nav class="nav">
    <a href="/" style="font-size:2em; color:orange; margin-left:5px;" class="navbar-brand">onTrack</a>
    <form action="/auth/sign-up" class="form-inline" method="GET">
        <button class="btn btn-outline-success btn-sign" style="margin:5px" type="submit" >Sign Up</button>
        </form>
        <form class="form-inline">
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px" type="submit"> Log In </button>
        <!-- TODO Get search funcitonality for admin-->
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
</nav>
