<!--landing.handlebars-->
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Get your inventory onTrack!</h1>
    <h3>Management</h3>
    <hr>
    <p>Manage employees, Manage inventory. See how much you're making on every product.</p>
    <h3>Employees</h3>
    <hr>
    <p>Streamline the process of posting new items and cateloging them</p>
    <form class="" action="/auth/sign-up" method="GET">
    <button>Sign up!</button>
    </form>
  </div>
</div>
