<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {

            position: center;
            left: 50%;
            top: 50%;
        }
    </style>
</head>

<body>
    <!-- Div to show the scanner -->
    <div id="scanner-container"></div>
    <button type="button" onclick="startStop()" id="btn" value="Start/Stop the scanner" />Start/Stop the scanner</button>
    <!-- <button type="button" onclick="loadBarCodes()" id="btn"  />Get loaded barcodes</button>
    <button type="button" onclick="getBarCodes()" id="btn"  />see loaded bar codes</button> -->

    <div id="bar-codes">

    </div>

</body>
    <!-- Include the image-diff library -->
    <!-- <script src="quagga.min.js"></script> -->
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
    <script src="/scripts/scannerProp.js"></script>
