<div class="sign-up-text sign-up-background" <h2>Welcome to onTrack!</h2>
    <h1>We're here to help</h1>
    <hr>
    <h3>Are you a</h3><br>
    <form  action="/auth/sign-up/manager" method="GET">
        <button class="btn btn-info" type="submit" name="button">Manager</button>
    </form> or <form action="/auth/sign-up/employee"> <button class="btn btn-info" type="submit" name="button">Employee</button></form>
</div>
