<div class="sign-up-text" <h2>Welcome to onTrack!</h2>
    <h1>We're here to help</h1>
    <hr>
    <h3>Are you a</h3><br>
    <form>
        <button type="button" name="button">Manager</button>
    </form> or <form> <button type="button" name="button">Employee</button></form>
</div>
